{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit Flight{% endblock %}

{% block body %}
    <h1>Edit Flight</h1>

    {{ include('admin/flight/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_app_flight_index') }}">back to list</a>

    {{ include('admin/flight/_delete_form.html.twig') }}
{% endblock %}
