{% extends 'admin/admin_base.html.twig' %}

{% block title %}Création d'un vol - vue publique{% endblock %}

{% block body %}
    <h1>Create new Flight</h1>

    {{ include('admin/flight/_form.html.twig') }}

    <a href="{{ path('admin_app_flight_index') }}">back to list</a>
{% endblock %}
